
table.table-output {
    border: 2px solid #0c0c0c;
    width: 70%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: auto;

}
tr {
    background: goldenrod;
}
th {
    font-size: 24px;
    width: 33%;
    border: 1px solid #0c0c0c;
}


input.input-inner{
    font-size: 24px;
    width: 30%;
    border: 1px solid #0c0c0c;
    margin-left: 35%;
}


#tr-true {
    background: antiquewhite;
    color: brown;
}

#tr-false {
    background: antiquewhite;
    color: green;
}


