
tr {
    background: goldenrod;
}
th {
    font-size: 24px;
    width: 25%;
    border: 1px solid #0c0c0c;
}


table.table-output {
    border: 2px solid #0c0c0c;
    width: 70%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: auto;

}

input.input-inner{
    font-size: 24px;
    width: 90%;
    border: 1px solid #0c0c0c;
}

form.back{
    margin: auto;
}
button.back{
    width: 35%;
    font-size:1.4vw;
}

#tr-true {
    background: antiquewhite;
    color: brown;
}

#tr-false {
    background: antiquewhite;
    color: green;
}


